.inner{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 84px;
    margin-bottom: 76px;
}

.title{
    font-family: 'Intro Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #1D253C;

}
.btnBox{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    align-items: center;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 184px;
    border: 1px solid #DDE7FD;
    border-radius: 24px;
    background-color: transparent;
    font-family: 'Intro Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
       text-align: center;
    color: #1D253C;
    cursor: pointer;
}
.btn img{
    margin-right: 10px;
}
.btn:hover{
    opacity: 0.7;
}