.header {
    width: 100%;
    background-color: #F8FAFF;
    border-bottom: 1px solid rgba(43, 107, 243, 0.16);
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.burgerInner{
    display: none;
}
.leftSect{
    display: flex;
    justify-content: flex-start;
    align-items: center;


}

.logo img {
    width: 192px;
    height: 64px;
    margin-left: 32px;
    margin-right: 68px;
}
.navBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}
.geo {
    display: flex;
    align-items: center;
    /*margin-right: 169px;*/
}

.geo img {
    width: 12px;
    height: 16px;
}

.geo a {
    font-family: 'Intro Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    margin-left: 8px;
    color: #666666;
    border-bottom: 1px solid transparent;
}

.geo a:hover {
    opacity: 0.7;
    border-bottom: 1px dashed #C1CFEF;
}

.search {
    /*margin-right: 211px;*/
    margin: 0 auto;
}

.search input {
    width: 184px;
    height: 40px;
    top: 20px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid rgba(183, 198, 231, 1);
    padding: 0 12px;
    background-image: url('../../assets/img/Search.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-position: 155px;
    background-clip: padding-box;
    font-family: 'Intro Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #1D253C;


}

.search input::placeholder {
    font-family: 'Intro Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #1D253C;
    opacity: 0.56;
}

.search input:focus::placeholder {
    opacity: 1;
}
.search input:hover{
    background: #F1F5FF;
    background-image: url('../../assets/img/Search.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-position: 155px;
    background-clip: padding-box;

}
.search input:focus {
    opacity: 1;
    border: 1px solid var(--blue);
    background: url('../../assets/img/SearchActive.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-position: 155px;
    background-clip: padding-box;
    outline: none;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
}

.nav a {

    font-family: 'Intro Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}



.linkItem + .linkItem {
    margin-left: 36px;

}
.linkItem:hover {
    opacity: 0.7;
    border-bottom: 1px dashed #C1CFEF;
}
.linkLogin:hover{
    opacity: 0.7;
}
.linkLogin {
    margin-right: 32px;
    margin-left: 32px;
}

@media screen and (max-width: 360px){
.burgerInner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

}
    .leftSect{
        display: none;
    }
    .header{
        /*padding: 0 19px;*/
    }
  .navBox{
      display: none;
  }
}

