.since {
    display: flex;
    justify-content: center;
    padding: 103px 86px;
}

.text {
    width: 1160px;
    display: block;
    position: relative;
}
.toggle{

}
.active{

}
.textItem {
    font-family: 'Intro Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.text img {
    position: absolute;
    right: 15px;
    bottom: 0;
    cursor: pointer;
}

@media screen and (max-width: 360px){
.since{
    padding: 0 16px;
    padding-bottom: 52px ;
}
    .drop{
        padding: 0 16px;
    }
    .text{
        width: 359px;
        padding: 0 16px;
    }
    .textItem{
        padding-top: 54px;
    }

}
